@page
@model IS413_Amazon_A5_ZS.Pages.BookPurchaseModel
@{
}

<h2>Your Cart</h2>

<table class="table table-bordered table-striped">

    <!--Column headers-->
    <thead>
        <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <!--Table Body that displays rows of purchased books and their information-->
    <tbody>
        @foreach(var line in Model.Cart.Lines)
        {
        <tr>
            <td>@line.Book.Title</td>
            <td>@line.Quantity</td>
            <td>@line.Book.Price</td>
            <td>@((line.Book.Price * line.Quantity).ToString("c"))</td>
            <td class="text-center">
                <form asp-page-handler="Remove" method="post">
                    <input type="hidden" name="BookId"
                           value="@line.Book.BookId" />
                    <input type="hidden" name="returnUrl"
                           value="@Model.ReturnUrl" />
                    <button type="submit" class="btn btn-sm btn-danger">
                        Remove
                    </button>
                </form>
            </td>
        </tr>
        }
    </tbody>

    <!--Footer that displays the grand total-->
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Grand Total:</td>
            <td>@Model.Cart.ComputeTotalSum().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<!--Button that displays a button that allows the user to go back to the website's main shopping page-->
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>